body{
  background-color: #404d60;
  color: #f8f8f8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container{
  border-radius: 10px;
  border: 1px solid	#ff8f7a;
  padding: 20px;
}
footer{
  position: fixed;
  bottom: 0px;
}

a, a:visited{
color: #f8f8f8;
text-decoration: none;
font-size: 0.8rem;
}